/* Global app variables */

// Colors
$body-bg: #121210;
$contrast-500: #ffffff;
$contrast-50: rgba(256, 256, 256, 0.1);
$contrast-250: rgba(256, 256, 256, 0.5);
$contrast-700: rgba(0, 0, 0, 0.7);
$primary: #3a8bff;
$primary-dark: #3271FE;
$warning: #ff5042;

// Sizes
$box-radius: 15px;
$main-padding: 15px;

// Other
$animation-speed: 300ms;
